<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t('views.form.save'), class: 'btn btn-primary' %>
    <%= t 'views.form.or' %> <%= link_to I18n.t('views.form.back'), :back %>
  </div>
<% end %>
