<div>
  <div class="event">
    <div class="event-info row">
      <div class="col-md-12">
        <%= content_tag "div", "", class: "event-background",
        style: "background-image: url(#{asset_path("event.jpg")})" %>

        <div class="event-info-inner row">
          <div class="col-md-6">
            <div class="event-description mx-2 my-2 buffer-both">
              <h1><%= @event.title %></h1>
              <h3><%= l @event.datetime, format: :long %></h3>
              <h3><small><%= link_to @event.address,
              "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
              <p><%= @event.description %></p>
            </div>

            <% if current_user_can_edit?(@event) %>
              <div class="buffer-top my-3">
                <%= link_to I18n.t("views.events.change"), edit_event_path(@event),
                class: "btn btn-primary", title: I18n.t("views.events.change") %>
              </div>
              <div class="buffer-top mx-3 my-3">
<%# 
                <%= button_to I18n.t("views.events.delete"), event_path(@event), 
                form:{ data:{"data-turbo-confirm": "Are you sure?"}}, method: "delete" %>

<%#      ПРОДОЛЖАЮ ЧИНИТЬ ПОДТВЕРЖДЕНИЕ УДАЛЕНИЯ.ТУДУ ТУРБО

                <%= button_to I18n.t("views.events.delete"), event_path(@event),
                method: :delete,
                form: {data: {turbo_confirm: "DELETE THIS EVENT?"}},
                class: 'text-red text-sm' %>
 
                <%= button_to "DELETE", event_path(@event), 
                method: :delete, class: "btn btn-danger",
                title: I18n.t("views.events.delete"), form: {data: {turbo_confirm: "are_you_sure"}} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
